* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto&display=swap");
}
button {
  padding: 8px 16px;
  background-color: #05c7cf;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 18px;
}
p {
  line-height: 1.5;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 32px;
  background-color: #cafdff;
}

.logo {
  width: 300px;
}
header {
  background-color: #eadcff;
  height: calc(100vh - 50%);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__description {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 48px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 24px;
}
.para__description {
  font-size: 20px;
  text-align: center;
  margin-bottom: 24px;
}

.home__img {
  width: 450px;
}
.home__description,
.home__img--wrapper {
  width: 100%;
}
h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  font-size: 48px;
}
.about__description {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.about__description--para {
  font-size: 18px;
  padding: 0 24px;
  display: flex;
  text-align: left;
  margin: 16px 0 16px;
}

.about__img {
  width: 100%;
  padding: 0 24px 0 24px;
}
.about__description--wrapper,
.about__img--wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
}

/* DISCORD */
.discord {
    background-color:  #eadcff;
    ;
}

.discord__description--wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
    
.discord__img {
    width: 50%;
    margin-left: 25%;
}

.discord__description--para {
    width: 50%;
    font-size: 18px;
    margin-bottom: 24px;
    padding-left: 10%;
}
/* Contact */

.contact {
    background-color: #eadcff;
}
form {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
}

input,
textarea {
    font-size: 24px;
    margin-bottom: 24px;
    padding: 6px 24px;

}
input {
    height: 40px;

}
.contact__btn {
    margin-bottom: 24px;
}

/* footer */

footer {
    width: 100%;
    background-color: #cafdff;
    display: flex;
    flex-direction:  column;
    align-items: center;
    padding: 16px 24px 16px;
}
    

.footer__logo {
    width: 300px;
}
.footer__links {
    width: 50%;
    font-size: 16px;
   margin-bottom: 32px;
}
.copyright {

}
